/* Styles for the Advanced Markup assignment. */

ul.poem{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/*About page style */
dt{
    font-weight: 900;    
}
.bio-photo {
    width: 25%;
    float: Left;
    background: #cccccc;
    margin: 10px;
    padding: 5px;
}
.bio-photo img{
    width: 100%;
    height: auto;
}
/*Sidebar style*/
#sidebar{
    float: right;
    width: 25%;
    background: pink;
    margin: 20px;
    padding: 10px;
}

/*Navigation Styles*/
nav ul li{
    display: inline;
    border: solid  1px black;
    padding: 5px;
    
}
.active{
    font-weight: 900;
    background: #cccccc;
    padding: 5px;
}

/*Table style*/
table{
    width: 100%;
    text-align: left;
}